/* 포스트 카드 */
.post-card {
    z-index: 3;
    max-width: 1200px;
    margin: 200px auto 30px auto;
    display: grid;
    gap: 28px;
    @media screen and (max-width: 718px) {
        gap: 3px;
    }
}

.post-card>li {
    flex: 1;
    height: auto;
}

.card-box {
    width: 280px;
    margin: 0 auto;
}

.card {
    cursor: pointer;
    border-bottom: none;
    border: 5px solid rgba(134, 72, 1, 0.562);
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.541);
    margin-bottom: 10%;
}

.card-img {
    height: 190px;
    margin-top: 3%;
    background-size: cover;
    background-position: center;
}

.card-title {
    align-items: center;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;

    padding: 3%;
    background: white;
}

.icons i {
    cursor: pointer;
}

/* 글자수 제한 */
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 72px;
}

.style-imgs {
    overflow: scroll;
    margin: auto;
    padding: 30px 0px 30px 0px;
}

/* 내가 작성한 글 + 북마크 버튼 */
.navbar.two {
    justify-content: center;
    margin-top: 75px;
    z-index: auto;
    /* position: fixed; */
}

/* 버튼 간격 */
.mypage-btn {
    margin: 15px;
}

.fa-solid {
    font-size: 25px;
}

.fa-regular {
    font-size: 25px;
}

/* 반응형 */
@media (min-width: 718px) {
    .post-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 3px;
    }
}

@media (min-width: 900px) {
    .post-card {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 10px;
    }
}