* {
    font-family: 'Noto Sans KR', sans-serif;

    list-style: none;
    text-decoration: none;
    border-collapse: collapse;

    margin: 0px;
    padding: 0px;

    color: black;
}

/* 포스트 카드 */
.upload-btn {
    padding-top: 1%;
}

/* 포스트 카드 */
.post-card {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;

    @media screen and (max-width: 718px) {
        gap: 3px;
    }
}

.post-card>li {
    flex: 1;
    height: auto;
    margin: 20% auto auto 10%;
}

.card {
    cursor: pointer;
    border-bottom: none;
}

.card-img {
    /* width: 30.8vh; */
    height: 190px;

    background-size: cover;
    background-position: center;
}

.card-title {
    align-items: center;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;

    padding: 3%;

    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-left: 1px solid rgba(0, 0, 0, .125);
    border-right: 1px solid rgba(0, 0, 0, .125);
}

.icons i {
    cursor: pointer;
}

/* 글자수 제한 */
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 72px;
}

.style-imgs {
    overflow: scroll;
    margin: auto;
    padding: 30px 0px 30px 0px;

}

.input_image {
    margin-left: 20px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]:checked+img {
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(255, 0, 0, 0.7);
}