<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

  <!-- 구글폰트 -->
  <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/0c764fa4c5.js" crossorigin="anonymous"></script>

  <title>index</title>

  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/nav.css">
  <link rel="stylesheet" href="../static/css/modal.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">로고</a>
      <!-- <form class="d-flex search" role="search" action="/search/" method="POST">
          <input class="form-control me-2 d-flex" type="search" id="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/mypage/"> My Page </a>
            <a class="nav-link" href="/logout/"> 로그아웃 </a>
          </li>
        </ul>
      </form>
    </div>
  </nav>

  <button id="modal_open" type="button" class="btn btn-dark upload-btn">Upload</button>

    <!--  Modal start -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span></span>
          <h3>원하는 스타일의 이미지를 선택해주세요.</h3>
          <span class="close">&times;</span>
        </div>
        

        <div class="style-imgs">
          <div class="imgs1"></div>
          <div class="imgs2"></div>
          <div class="imgs3"></div>
          <div class="imgs4"></div>
        </div>
        <div class="upload-img">
          <input type="file" class="real-upload" accept="image/*" required multiple>
        </div>
        <div class="write">
          <input class="title" placeholder="제목을 입력해주세요. (30자)"><br>
          <textarea class="content" placeholder="내용을 입력해주세요. (100자)"></textarea>
        </div>  
        <div class="result-btn">
          <button id="" type="button" class="btn btn-dark">결과 보러가기</button>
        </div>
        
      </div>
    
    </div>



    <!-- 게시글 시작 -->
  <ul class="post-card" id="card">
    <!-- temp_html.append -->
    
    <!-- 게시글 li -->
    <li>
      <div class="card" style="width: 18rem;" id="modal-open">
        <div class="card-img" style="background: rgb(192, 236, 155);">
          <!--이미지 삽입 예정-->
        </div>
        <div class="card-body">
          <h5 class="card-title">${title}</h5>
          <hr>
          <p class="card-text">
            ${content}
          </p>
          <div class="icons">
            <i class="far fa-heart" style="font-size:24px"></i>
            <i class="fa fa-bookmark-o" style="font-size:24px"></i>
          </div>
        </div>
      </div>

      <!-- 게시글 상세페이지 모달 -->
      <div class="popup-wrap" id="popup">
        <div class="popup">

          <!-- 게시글 상세페이지 모달창 헤더 -->
          <div class="popup-header">
            <span></span>
            <h2>{user.fullname}님의 게시글</h2>
            <div id="close" class="popup-close"> X </div>
          </div>

          <!-- 게시글 상세페이지 모달창 바디 -->
          <div class="popup-body">
            <div class="popup-img" style="background: rgb(141, 206, 214);">
              <!--이미지 삽입 예정-->
            </div>
            <h2 class="popup-title">
              {title} : 제목을 적으슈
            </h2>
            <hr>
            <h5 class="popup-content">
              {content} : 설명을 적으슈
            </h5>
            <hr>
          </div>

          <!-- 게시글 상세페이지 모달창 댓글 output -->
          <div class="popup-comment">
            <h1>댓글</h1>
            <hr>
            {user} : {comment}
            <hr>
            {user} : {comment}
          </div>

          <!-- 게시글 상세페이지 모달창 댓글 input -->
          <div class="popup-post-comment">
            <input class="popup-post-input" id="input_comment" type="text" placeholder="댓글을 입력 해주세요..." />
            <button class="popup-post-input-btn" onclick="save()">
              저장
            </button>
          </div>
        </div>
      </div>

    </li>

  </ul>

  <script src="../static/js/index.js"></script>
  <script src="../static/js/modal.js"></script>
  <script src="../static/js/api.js"></script>
</body>

</html>