<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">        
        <meta http-equiv="Content-Type" content="text/html">
 <!--       <link rel="stylesheet" href="../static/css/user.css" /> -->
        <script src="../static/js/api.js"></script>
        <title>Hello World</title>
    </head>
    <body>
        <h1>마이 페이지</h1>
        <h2 id="username"></h2>
        <h2>게시글 목록</h2>
        <button type=button id="loginout" onclick="logout()">로그아웃</button>
    </body>
</html>
